<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Login/Register</h1>
				<nav class="d-flex align-items-center">
					<a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
					<a href="/login">Login/Register<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Forget Password</a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->

{{!-- error --}}


<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="login_box_img">
					<img class="img-fluid" src="img/login.jpg" alt="">
					<div class="hover">
						<h4>New to our website?</h4>
						<p>There are advances being made in science and technology everyday, and a good example of this
							is the</p>
						<a class="primary-btn" href="/registration">Create an Account</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6  ">
				<div class="login_form_inner column align-items-center ">
					<h3>Enter your email</h3>

					{{#if error}}
					<p style="color: red;">{{error}}</p>
					{{/if}}
					<form onsubmit="return validate()" class="row login_form" action="/verifyemail" method="post" id="loginform" novalidate="novalidate">
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="Value" name="email" placeholder="email"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'email'" >
								 <p id="valueAlert" class="text-danger "></p>
						</div>
						{{!-- <div class="col-md-12 form-group">
							<input type="password" class="form-control" id="Password" name="password" placeholder="Password"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
								<p id="passwordAlert" class="text-danger "></p>
						</div> --}}

						<div class="col-md-12 form-group">
							<button type="submit" value="submit" class="primary-btn">Request OTP</button>
							<a href="/login">Login</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Login Box Area =================-->

<script>
  const valueAlert = document.getElementById("valueAlert");
  const passwordAlert = document.getElementById("passwordAlert");

  function validate(){
    console.log("This is validate")
    
    const value = document.getElementById("Value").value;
    const password = document.getElementById("Password").value;
    console.log(value)
    valueAlert.innerText="";
    passwordAlert.innerText="";

    if(value.trim() === ""){
        valueAlert.innerText = "Email can't be empty";
        return false;
    }else if(password.trim() === ""){
        passwordAlert.innerText = "Password can't be empty";
        return false;
    }


 
    let emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/

    if(value.match(emailRegex)){
      console.log("Value is matching");
      return true;
    }

    valueAlert.innerText = "Invalid email ";
    return false 
}
</script>
