<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>OTP Verification</h1>
				<nav class="d-flex align-items-center">
					<a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
					<a href="#">OTP Verification</a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->
<section class="login_box_area section_gap">
	<div class="container-fluid ">
		
			
			<div class="col-6 m-auto">
				<div class="login_form_inner ">
					<h1>Enter New Password</h3>

						{{#if message}}
						<p style="color: red;">{{message}}</p>
						{{/if}}

						<form  onsubmit="return Validation()" class="row login_form d-flex" action="/savepassword" method="post" id="registerform"
							novalidate="novalidate">
							<input type="text" name="userId" value="{{id}}" hidden />

							<div class="col-md-12 form-group">
								<input type="password" id="password" name="password" class="form-control" />
								<p id="validation-alert2" class="text-danger "></p>
								<label class="form-label" for="form3Example4c">Password</label>
							</div>


							<div class="col-md-12 form-group">
								<input type="password" id="comfirm_password" name="'confirm password"
									class="form-control" />
									<p id="validation-alert3" class="text-danger "></p>
								<label class="form-label" for="form3Example4cd">Confirm your password</label>
							</div>


							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Save password</button>
							</div>
						</form>
				</div>
			</div>
		
	</div>
</section>
<!--================End Login Box Area =================-->

<script>
  const Alert=document.getElementById('validation-alert2')
  

  function  Validation()
{
  

  let password=document.getElementById("password").value
  let confirmpassword=document.getElementById('comfirm_password').value
  
    
    Alert.innerText="";
   


   if(password!=confirmpassword)
  {
    Alert.innerHTML="Password Not Matching"
    return false
  }else
  {
    return true
}
}
</script>