<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Login/Register</h1>
				<nav class="d-flex align-items-center">
					<a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
					<a href="/registration">Login/Register</a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="login_box_img" style="height:100%">
					<img class="img-fluid" src="img/login.jpg" alt="">
					<div class="hover">
						<h4>Already or customer?</h4>
						<p>Wherever you go I am there</p>
						<a class="primary-btn" href="/login">Already registered!</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="login_form_inner ">
					<h1>Register to enter</h3>

						{{#if message}}
						<p style="color: red;">{{message}}</p>
						{{/if}}

						<form  class="row login_form d-flex" action="/registration"
							method="post" id="registerform" novalidate="novalidate">
							<div class="col-md-12 form-group">
								<input type="text" name="fname" id="fName" class="form-control" />
								<p id="validation-alert" class="text-danger "></p>
								<label class="form-label" for="form3Example1c">First Name</label>

							</div>
							<div class="col-md-12 form-group">
								<input type="text" name="lname" id="lName" class="form-control" />
								<p id="validation-alert" class="text-danger "></p>
								<label class="form-label" for="form3Example1c">Last Name</label>

							</div>


							<div class="col-md-12 form-group">
								<input type="email" name="email" id="email" class="form-control" />
								<p id="validation-alert1" class="text-danger "></p>
								<label class="form-label" for="form3Example3c">Your Email</label>
							</div>


							<div class="col-md-12 form-group">
								<input type="password" id="password" name="password" class="form-control" />
								<p id="validation-alert3" class="text-danger "></p>
								<label class="form-label" for="form3Example4c">Password</label>
							</div>


							<div class="col-md-12 form-group">
								<input type="password" id="comfirm_password" name="confirm password"
									class="form-control" />
								<p id="validation-alert2" class="text-danger "></p>
								<label class="form-label" for="form3Example4cd">Confirm your password</label>
							</div>


							<div class="col-md-12 form-group">
								<button type="submit" value="submit"  class="primary-btn">Register</button>
							</div>
						</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Login Box Area =================-->

<script>
	const Alert = document.getElementById('validation-alert2')
	const emailalert = document.getElementById('validation-alert1')
	const nameAlert = document.getElementById('validation-alert')
	const pwAlert=document.getElementById('validation-alert3')

	document.getElementById('registerform').addEventListener('submit', function(e) {
        e.preventDefault();
        
		
		let password = document.getElementById("password").value
		console.log(password)
		
		const uppercaseRegex = /[A-Z]/;
		const lowercaseRegex = /[a-z]/;
		const digitRegex = /\d/;
		let confirmpassword = document.getElementById('comfirm_password').value
		
		let email = document.getElementById('email').value
		console.log(email)
		
		let name = document.getElementById('fName').value
		let emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
		let nameRegex = /^[a-zA-Z]+(?: [a-zA-Z]+)?$/;
		let mobileRegex = /^\d{10}$/

		Alert.innerText = "";
		emailalert.innerText = "";
		nameAlert.innerText = "";
		pwAlert.innerText = ""

		if (name.trim() === "") {
			nameAlert.innerText = "name can't be empty";
			console.log("bfhsbfh")
			return false;
		} else if (password.trim() === "") {
			Alert.innerText = "Password can't be empty";
			return false;
		} else if (email.trim() === "") {
			emailalert.innerText = "email can't be empty";
			return false;
		}


		if (password != confirmpassword) {
			Alert.innerHTML = "Password Not Matching"
			return false
		} else if (!email.match(emailRegex)) {
			emailalert.innerHTML = "Email Not Valid"
			return false
		} else if (!name.match(nameRegex)) {
			nameAlert.innerHTML = "Space Not Allowed"
			return false
		} 
		 else if (!(password.length >= 8) || !uppercaseRegex.test(password) || !lowercaseRegex.test(password) || !digitRegex.test(password)) {
			console.log('inside elsif')
			pwAlert.innerHTML = 'Password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, and one digit.'
			return false
		}
		else {
			this.submit()
		}

		
	})
</script>