

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>OTP Verification</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">OTP Verification</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="mt-5 ">
  <h3 class="h4 text-center"> enter otp</h3>
  <div class="container col-6 d-flex justify-content-center mt-10 align-items-center ">
    <form action="/verifyotp" method="post">
    <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2 col-6"> 
      <input class="m-2 text-center form-control rounded shadow-none " type="text" id="first" name="otp" maxlength="6" /> 
     
    </div>
    
  </div>
  <div class="mt-4 text-center "> <button class="btn btn- px-4 validate" value="submit">Validate</button> 
  </div> 
</form>
</div>
				
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
