<div class="page-body">

  <!-- New Product Add Start -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-sm-8 m-auto">
            <div class="card">
              <div class="card-body">
                
 
                <div class="card-header-2">
                  <h5>Category Information</h5>
                </div>
                {{#if message}}
                <p style="color: red;">{{message}}</p>
                {{/if}}
                <form class="theme-form theme-form-2 mega-form" method="post" action="/admin/addcategory">
                  <div class="mb-4 row align-items-center">
                    <label class="form-label-title col-sm-3 mb-0">Category Name</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control shadow-none" name="categoryname"
                        placeholder="category name" />
                    </div>
                  </div>

                  <div class="mb-4 row align-items-center">
                    <label class="col-sm-3 col-form-label form-label-title">Category
                      Description</label>
                    <div class="form-group col-sm-9">
                      <div class="dropzone-wrapper">
                        <div class="dropzone-desc">
                          <textarea class="form-control shadow-none" name="description"
                            placeholder="description"></textarea>
                        </div>
                        <input type="file" class="dropzone">
                      </div>
                    </div>
                  </div>


                  <div class="d-block mt-5">
                    <button type="submit" class="btn btn-info">Create Category</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- New Product Add End -->